In [1]:
setwd("~/ben_lustre/current_projects/kidney_glomTI_response/data/seq_data/10X_multiome")

In [2]:
aggregation = read.csv("aggregation.csv")

In [3]:
seq_inventory = read.csv("~/ben_nfs/sample_donor_data/sequencing_inventory.csv")
seq_inventory = seq_inventory[seq_inventory$experiment %in% "10X_multiome_ATAC", ] 
rownames(seq_inventory) = seq_inventory$irods_ID
seq_inventory = seq_inventory[aggregation$library_id, ]
aggregation$sangerID = seq_inventory$sanger_ID

In [4]:
library(data.table)
fragments = fread('./multiome_aggr/outs/atac_fragments.tsv.gz')

In [5]:
cellnames = unique(fragments$V4)
cellsplits = strsplit(cellnames, "-")
channel = unlist(lapply(cellsplits, function(x){x[[2]]}))
channel = aggregation[channel, 'sangerID']
barcode = paste0(unlist(lapply(cellsplits, function(x){x[[1]]})), "-1")
cbc = paste0(channel, "_", barcode)

In [6]:
df = data.frame(cellnames, cbc)
rownames(df) = cellnames

In [7]:
head(df)

                    cellnames           cbc
CTTCGCGTCGACAAAG-16 CTTCGCGTCGACAAAG-16 Well_KID10340600_CTTCGCGTCGACAAAG-1
CAATATGTCCTTGAGG-1  CAATATGTCCTTGAGG-1  Well_KID10340599_CAATATGTCCTTGAGG-1
CCAATATCACAATGCC-1  CCAATATCACAATGCC-1  Well_KID10340599_CCAATATCACAATGCC-1
CTATAACCACCTAATG-1  CTATAACCACCTAATG-1  Well_KID10340599_CTATAACCACCTAATG-1
AGTAACCTCGGTTTCC-16 AGTAACCTCGGTTTCC-16 Well_KID10340600_AGTAACCTCGGTTTCC-1
ATAGATGCAGGATAAC-1  ATAGATGCAGGATAAC-1  Well_KID10340599_ATAGATGCAGGATAAC-1

In [8]:
frag_cellnames = fragments$V4
barcodes = df[frag_cellnames, 'cbc']

In [9]:
length(barcodes)

[1] 917450655

In [10]:
head(fragments)

  V1   V2    V3    V4                  V5
1 chr1 10065 10363 CTTCGCGTCGACAAAG-16 1
2 chr1 10078 10285 CAATATGTCCTTGAGG-1  1
3 chr1 10079 10340 CCAATATCACAATGCC-1  1
4 chr1 10079 10351 CTATAACCACCTAATG-1  1
5 chr1 10084 10346 AGTAACCTCGGTTTCC-16 1
6 chr1 10084 10478 ATAGATGCAGGATAAC-1  1

In [11]:
head(barcodes)

[1] "Well_KID10340600_CTTCGCGTCGACAAAG-1" "Well_KID10340599_CAATATGTCCTTGAGG-1"
[3] "Well_KID10340599_CCAATATCACAATGCC-1" "Well_KID10340599_CTATAACCACCTAATG-1"
[5] "Well_KID10340600_AGTAACCTCGGTTTCC-1" "Well_KID10340599_ATAGATGCAGGATAAC-1"

In [12]:
fragments$V4 = barcodes

In [13]:
head(fragments)

  V1   V2    V3    V4                                  V5
1 chr1 10065 10363 Well_KID10340600_CTTCGCGTCGACAAAG-1 1
2 chr1 10078 10285 Well_KID10340599_CAATATGTCCTTGAGG-1 1
3 chr1 10079 10340 Well_KID10340599_CCAATATCACAATGCC-1 1
4 chr1 10079 10351 Well_KID10340599_CTATAACCACCTAATG-1 1
5 chr1 10084 10346 Well_KID10340600_AGTAACCTCGGTTTCC-1 1
6 chr1 10084 10478 Well_KID10340599_ATAGATGCAGGATAAC-1 1

In [14]:
fwrite(fragments, "aggregated_fragments.tsv", col.names = FALSE, sep = '\t')